body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(145deg, #000000, #4b0082);
  color: #ffffff;
}

.page {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

/* Navbar */
.nav {
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
  padding: 20px;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.links a {
  margin-left: 20px;
  text-decoration: none;
  color: #c7c7c7;
}

.links a:hover {
  color: #9b5cff;
}
