.navbar {
  width: 100%;
  padding: 20px 0;
  background: white;
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-container {
  max-width: 1250px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #b266ff;
}

/* Mobile Menu Button */
.nav-toggle {
  display: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 850px) {
  .nav-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    background: rgba(20, 0, 35, 0.9);
    width: 100%;
    padding: 25px 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
